<ion-header>
  <ion-navbar color="danger">
    <ion-title>Videos near from you</ion-title>
  </ion-navbar>
</ion-header>

{{videos}}
<ion-thumbnail item-start>
  <img src="https://www.youtube.com/watch?v=bsoiupLME-w">
</ion-thumbnail>

<ion-list>
  <button ion-item *ngFor="let video of videos" (click)="openVideo(video)" detail-none>
    <ion-thumbnail item-start>
      <img src="https://www.youtube.com/watch?v=bsoiupLME-w">
    </ion-thumbnail>
    <h2>{{ video.title }}</h2>
    <p>{{ video.description }}</p>
  </button>
</ion-list>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let video of videos" (click)="openVideo(video)" detail-none>
      <ion-thumbnail item-start>
        <img src="https://www.youtube.com/watch?v=bsoiupLME-w">
      </ion-thumbnail>
      <h2>{{ video.title }}</h2>
      <p>{{ video.description }}</p>
    </button>
  </ion-list>
</ion-content>
